# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Testing
.coverage
htmlcov/
.pytest_cache/

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints

# Logs
*.log

# Local configuration
.env
.env.local